<div class="main space-y-3">
    <h1>Delete {{ name }}</h1>
    <p class="text-2xl">
        {{ message }}
        <br>
        Are you sure? Action Cannot be reversed
    </p>
    <div class="flex py-5">
        <form action="" method="post" class="">
            {% csrf_token %}
            <button class="btn btn-danger px-8 py-3 mr-5 rounded-xl" type="submit">Delete</button>
        </form>
        <button class="btn btn-primary px-8 py-3 rounded-xl" onclick="history.back()">Cancel</button>
    </div>
</div>