
<div class="search max-w-4xl mt-3">
    
    
    <div class="flex items-center">
        <div x-data="{ dropdownOpen: true }" class="relative ml-auto order-last">
            <button onclick="modalSwitch()" type="button" class="inline-block px-4 btn active:shadow-lg transition duration-150 ease-in-out flex items-center" data-bs-toggle="modal">
                Filters
                <div>
                    <svg id="f-cion" xmlns="http://www.w3.org/2000/svg" class="ml-2 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                    <svg id="l-icon" xmlns="http://www.w3.org/2000/svg" class="ml-2 h-4 w-4 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
                    </svg>
                </div>
            </button>

            
            <div id="ModalSm" class="absolute right-0 mt-2 bg-white rounded-md shadow-lg overflow-hidden w-[20rem] hidden">
                <div class="p-6">
                        <form action="" method="get">
                        {{ myfilter.form }}
                        <button class="btn rounded-lg" type="submit">
                            Apply   
                        </button>
                        <a href="?" class="ml-2 rounded-lg text-black hover:underline cursor-hover">
                            Clear All 
                        </a>
                    </form>
                    </div>
            </div>
        </div>
    </div>
    <div class="filter-vals mt-4">
        {% for k,v in myfilter.data.items %}
            {% if v != '' %}
                <span class="bg-gray-800 text-white px-2 py-1 rounded mr-2">{{ k.capitalize }}: {{ v }}</span>
            {% endif %}

        {% endfor %}
    </div>
</div> 
<script>
    const modalSwitch = () => {
        document.getElementById('ModalSm').classList.toggle('hidden')
        document.body.style.overflow = 'hidden'
        document.getElementById('l-icon').classList.toggle('hidden')
        document.getElementById('f-cion').classList.toggle('hidden')
        
    }
</script>