{% extends "base.html" %}

{% block content %}
    <div class="max-w-4xl space-y-5">
        {% include "System/template_tags/head_search.html" with btn_link="create/" %}
        <div class="">
            <h2>{{ patient.full_name }}</h2>
            <p>{{ patient.address }}</p>
        </div>
        <div class="grid grid-cols-2 gap-4">
            {% for fam in family %}
            <div class="p-6 space-y-3 bg-gray-50 rounded-xl">
                <div class="flex items-center">
                    <h3>{{ fam.full_name|truncatechars:25 }}</h3>
                    <span class="ml-auto order-last text-gray-800">{{ fam.get_relation_display }}</span>
                </div>
                <p>{{ fam.address }}</p>
                <div class="grid grid-cols-2">
                    <!-- Phone -->
                    <a href="tel:{{ fam.phone }}" class="flex items-center">
                        <span>{{ fam.phone }}</span>
                    </a>
                    <!-- Email -->
                    <a href="mailto:{{ fam.email }}" class="flex items-center">
                        <span>{{ fam.email }}</span>
                    </a>
                </div>
                <div class="grid grid-cols-2 gap-2">
                    <div>
                        <label class="text-gray-900 font-medium text-lg">Birth Date</label>
                        <p>{{ fam.date_of_birth }}</p>
                    </div>
                    <div>
                        <label class="text-gray-900 font-medium text-lg">Occupation</label>
                        <p>{{ fam.occupation }}</p>
                    </div>
                    <div>
                        <label class="text-gray-900 font-medium text-lg">Education</label>
                        <p>{{ fam.get_education_display }}</p>
                    </div>
                    <div>
                        <label class="text-gray-900 font-medium text-lg">Remarks</label>
                        <p>{{ fam.remarks }}</p>
                    </div>
                </div>
                <!-- Delete and Edit button -->
                <div class="flex justify-start space-x-3">
                    <button class="bg-gray-50 hover:bg-gray-600 border border-gray-800 hover:text-white font-bold py-2 px-4 rounded-xl"
                        onclick="document.location.href='delete/{{ fam.id }}'">
                        Delete
                    </button>
                    <button class="bg-gray-800 hover:bg-gray-600 text-white  font-bold py-2 px-4 rounded-xl"
                        onclick="document.location.href='update/{{ fam.id }}'">
                        Edit
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}