{% extends "base.html" %}

{% block content %}
    <div id="main w-full max-w-4xl">
        <!-- Search Bar -->
        <h1 class="text-5xl">Welcome to Arike</h1>
        <div class="border-b-2 border-emerald-600 my-5"></div>
        <div class="mt-5 grid gap-4 grid-cols-2 max-w-4xl">
            {% with gridclass="border-2 flex space-x-2 border-gray-600 px-5 py-12 justify-center text-center rounded-xl min-w-fit cursor-pointer hover:-translate-x-1 hover:-translate-y-1 hover:bg-gray-800 hover:text-white transition duration-200 ease-in-out " %}
                {% if request.user.role == 1 %}
                <div class="{{ gridclass }}">
                    <div class="space-y-2">
                        <h3>Manage Facility</h3>
                        <p>Manage your facility that comes under PHC or CHC</p>
                    </div>
                </div>
                <div class="{{ gridclass }}">
                    <div class="space-y-2">
                        <h3>Manage Staff</h3>
                        <p>Manage your staff that comes under PHC or CHC</p>
                    </div>
                </div>
                {% else %}
                <div class="{{ gridclass }}" onclick="window.location.href='{% url 'patient:patients' %}'">
                    <div class="space-y-2">
                        <h3>Manage Patients</h3>
                        <p>Manage your patients that come under your facility</p>
                    </div>
                </div>
                <div class="{{ gridclass }}" onclick="window.location.href='{% url 'nurse:agenda' %}'">
                    <div class="space-y-2">
                        <h3>Agenda</h3>
                        <p>View your agenda</p>
                    </div>
                </div>
                <div class="{{ gridclass }}" onclick="window.location.href='{% url 'nurse:schedule' %}'">
                    <div class="space-y-2">
                        <h3>Schedule</h3>
                        <p>View your schedule</p>
                    </div>
                </div>
                <div class="{{ gridclass }}" onclick="window.location.href='{% url 'nurse:reports_consent' %}'">
                    <div class="space-y-2">
                        <h3>Manage Daily Reports</h3>
                        <p>Get Daily Reports about your work</p>
                    </div>
                </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock content %}