{% extends "base.html" %}
{% block content %}

{% load i18n %}

{% block title %}{% translate "Sign Out" %}{% endblock %}

<div class="space-y-3 grid place-content-start">
  <h1 class="text-5xl">{% translate "Sign Out" %}</h1>
  
  <p class="text-lg font-medium">{% translate 'Are you sure you want to sign out?' %}</p>
  
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-danger" type="submit">{% translate 'Sign Out' %}</button>
  </form>
</div>
{% endblock %}
