{% extends "base.html" %}

    
{% block content %}
    <div class="space-y-5 max-w-3xl">
        <h1>Visit History</h1>
        <div class="">
            <h3>{{ patient.full_name }}</h3>
            <p>{{ patient.address }}</p>
        </div>

        <div class="grid gap-4 grid-cols-2">
            {% for visit in visits %}
                <div class="grid gap-4 grid-cols-2 p-6 w-fit rounded-xl bg-gray-50">
                    <div class="">
                        <h4>Visit By </h4>
                        <p>{{ visit.visit_schedule.user.full_name }}</p>
                    </div>
                    <div class="">
                        <h4>Visit Date</h4>
                        <p>{{ visit.visit_schedule.date }}</p>
                    </div>
                    <button class="btn px-8 rounded-xl" onclick="window.location.href='{{ visit.id }}/'">Visit Details</button>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}