@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    h1 {
        @apply text-4xl font-bold;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-2xl font-bold;
    }

    h4 {
        @apply text-xl font-bold;
    }

    h5 {
        @apply text-lg font-bold;
    }

    h6 {
        @apply font-bold;
    }

    p {
        @apply text-base;
    }

    a {
        @apply text-blue-500;
    }

    a:hover {
        @apply text-blue-700;
    }

    a:active {
        @apply text-blue-800;
    }

    a:focus {
        @apply outline-none;
    }

    a:focus:before {
        @apply outline-none;
    }

    a:focus:after {
        @apply outline-none;
    }

    .btn {
        @apply bg-gray-700 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded;
    }

    .btn-secondary {
        @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded;
    }

    .btn-success {
        @apply bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded;
    }

    .btn-danger {
        @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded;
    }

    .btn-warning {
        @apply bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded;
    }

    .btn-info {
        @apply bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded;
    }

    .btn-light {
        @apply bg-gray-100 hover:bg-gray-200 text-gray-800 font-bold py-2 px-4 rounded;
    }

    .btn-dark {
        @apply bg-gray-800 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded;
    }

    .signup {
        @apply text-black font-bold py-2 px-4 rounded;
        @apply space-y-5;
    }

    .div_id_remember {
        @apply flex;
        @apply justify-between;
        @apply items-center;
    }

    .container-fluid {
        @apply max-w-screen-lg;
    }

    .btn-align-last {
        @apply flex w-full justify-end;
    }

    .alert {
        @apply bg-red-500 text-white font-bold py-2 px-4 rounded;
    }

    .alert-success {
        @apply bg-green-500 text-white font-bold py-2 px-4 rounded;
    }

    .alert-danger {
        @apply bg-red-500 text-white font-bold py-2 px-4 rounded;
    }

    .alert-warning {
        @apply bg-yellow-500 text-white font-bold py-2 px-4 rounded;
    }

    .alert-info {
        @apply bg-teal-500 text-white font-bold py-2 px-4 rounded;
    }

    .alert-light {
        @apply bg-gray-100 text-gray-800 font-bold py-2 px-4 rounded;
    }

    .alert-dark {
        @apply bg-gray-800 text-white font-bold py-2 px-4 rounded;
    }

    .alert-dismissible {
        @apply cursor-pointer;
    }

    .alert-dismissible:hover {
        @apply text-blue-500;
    }

    .alert-dismissible:active {
        @apply text-blue-700;
    }

    .alert-dismissible:focus {
        @apply outline-none;
    }

    .form-control {
        @apply border-2 border-gray-200 rounded-lg py-2 px-4;
    }

    .form-control:focus {
        @apply outline-none;
    }

    .form-group {
        @apply flex;
        @apply flex-col;
        @apply space-y-2;
    }



  }