{% extends "base.html" %}

{% block content %}
<div class="max-w-4xl">
        {% url 'nurse:schedule_visit' as svisit %}
        {% include "System/template_tags/head_search.html" with title="Schedule" btn_link=svisit %}
        {% include "System/template_tags/search_bar.html" %}
        <div class="grid grid-cols-2 gap-4 mt-2">
            {% for s in schedules %}
            <div class="bg-gray-50 p-6 space-y-3 rounded-xl">
                <div class="flex items-center">
                    <h1>{{s.patient.full_name}}</h1>
                    <span class="ml-auto order-last">{{ s.patient.ward.name }}</span>
                </div>
                <div class="ml-6 inline-block">
                    <ul class="list-disc">
                        {% treatment s.patient %}
                        {% for t in treatments %}
                            <li>{{t.care_sub_type}}</li>
                        {% endfor %}
                    </ul>
                </div>  
            </div>
            {% endfor %}
        </div>
</div>
{% endblock %}