{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% load static tailwind_tags %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% if title %}{{ title }}{% else %}arike{% endif %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""Arike" is a Malayalam word that roughly translates to "Alongside" or "Besides" in English. The project caters to a system of specialized medical staff tending to patients under palliative care.">
    <meta name="author" content="Mohammed Rabil">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% tailwind_css %}
    {% block css %}

    <!-- Your stuff: Third-party CSS libraries go here -->
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}

  </head>

  <body class="flex bg-gray-200">

    <div class="bg-emerald-500 min-h-screen w-96">
        <nav class="flex flex-col w-full items-center">
          <div class="w-[90%]">
            <h2 class="text-emerald-50 my-2 mb-5 text-center">Arike</h2>
            {% with navclass="text-white px-16 py-2 text-center rounded mb-2 text-xl hover:bg-emerald-600" %}
              <ul>
                {% for item, navlink in navitems.items %}
                <a href="{{navlink}}">
                  <li class="{{ navclass }}">{{ item }}</li>
                </a>
                {% endfor %}
              </ul>
            {% endwith %}
          </div>
          <div class="fixed bottom-0 mb-6 flex flex-col items-center">
            {% if request.user.is_authenticated %}
            <!-- Display user name and email -->
            <div class="flex flex-row mt-2 items-center space-x-3">
              <div class="flex items-center">
                <div class="py-6 px-6 rounded-full border bg-gray-400 mr-2"></div>
              </div>
              <div class="flex flex-col justify-center">
                <p onclick="document.location.href='{% url 'users:detail' request.user.external_id %}'" class="text-white text-center cursor-pointer hover:underline">{{ request.user.full_name }}</p>
                <p class="text-white text-center">{{ request.user.email }}</p>
                <a href="{% url 'account_logout' %}" class="text-emerald-900 font-medium text-center w-full rounded-xl hover:underline">Logout</a>
              {% else %}
                <a href="{% url 'account_login' %}" class="text-emerald-900 font-medium text-center w-full rounded-xl hover:underline">Login</a>
              {% endif %}
              </div>
            </div>
          </div>
        </nav>
    </div>

    <div class="container px-8 py-4">

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}

      <div class="">
        {% block content %}
          <p>Use this document as a way to quick start any new project.</p>
        {% endblock content %}
      </div>

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
      document.querySelector('div.pointer-events-none.absolute.inset-y-0.right-0.flex.items-center.px-2.text-gray-700').style.display = 'none';
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
